<div class="movmain">
<div class="title">


<%= link_to movies_path do %>
  <%= image_tag "logo.jpg", height: 150  %>
<% end %><h1>New movie</h1></div>


<%= render "form", movie: @movie %>


<br/>
<div>
  <%= link_to "Back to movies", movies_path %>
</div>

</div>